<div class="header"><div class="text-center"><header><div class="container">
  
  
    <h3><span class="">PARCIAL DESARROLLO CON BOOTSTRAP</span></h3>
      
    
    
    </div> </header></div></div>
  
  <div class="container">
     
      <section class="row">
    <aside>

    <div class="col-xs-6 col-sd-5 col-md-3 col-lg-3 col-xl-4 colorfondocolumna1"><div class="text-right"><small>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus officia sint blanditiis reiciendis officiis delectus magnam aliquam non saepe. Corrupti, atque. Quaerat laudantium ducimus obcaecati quae porro reiciendis minima sed!</small></div></div>
    <div class="col-xs-6 col-sd-5 col-md-3 col-lg-3 col-xl-4 colorfondocolumna2"><div class="text-left"><small> Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus officia sint blanditiis reiciendis officiis delectus magnam aliquam non saepe. Corrupti, atque. Quaerat laudantium ducimus obcaecati quae porro reiciendis minima sed!</small></div></div>
    <div class="col-xs-6 col-sd-5 col-md-3 col-lg-3 col-xl-4 colorfondocolumna3"><div class="text-center"></div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus officia sint blanditiis reiciendis officiis delectus magnam aliquam non saepe. Corrupti, atque.</div>
    <div class="col-xs-6 col-sd-5 col-md-3 col-lg-3 col-xl-4 colorfondocolumna4"><div class="bg-warning"><mark>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus officia sint blanditiis reiciendis officiis delectus magnam aliquam non saepe. Corrupti, atque. Quaerat laudantium ducimus obcaecati quae porro reiciendis minima sed!</mark></div></div>
  
    </aside>     
    
   
    <article class="col-xs-6 col-sd-7 col-md-8 col-lg-9 col-xl-8 colorfondo" >
        <p> 
         Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates incidunt, a veritatis ipsam natus adipisci. Omnis natus dignissimos voluptatem ullam iure quaerat reprehenderit aut qui, neque veritatis? Quos, dolorum sapiente!
         
        </p>
       </article>
    
       <aside class="col-xs-6 col-sd-5 col-md-4 col-lg-3 col-xl-4">
     <p>
    
         Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, architecto, sit? Modi quidem a magnam sint perspiciatis suscipit laborum. Est nisi numquam vero. Aspernatur, explicabo, sed? Excepturi sint, eos necessitatibus.
    </p>
    </aside>
    
    </section>
    </div>
    
    <div class="container">
  <div class="row">
  
  
   </div>
     </div>
  
     <div class="container">
      <div class="table-responsive">
    <table class="table table-bordered table-hover table-striped">
    
      <tr class=" table-danger">
        <th>#</th>
        <th>Nombre</th>
        <th>Usuario</th>
    <th>Nombre</th>
        <th>Usuario</th>
        <th>Nombre</th>
        <th>Usuario</th>
        <th>Nombre</th>
        <th>Usuario</th>
        <th>Nombre</th>
        <th>Usuario</th>
    
      </tr>
      
      <tr>
        <td>1</td>
        <td>Nombre 1</td>
        <td>Usuario 1</td>
    
      </tr>
    
    
      <tr>
        <td>2</td>
        <td class="table-active">Nombre 2</td>
        <td>Usuario 2</td>
    
      </tr>
    
    
      <tr>
        <td>3</td>
        <td>Nombre 3</td>
        <td>Usuario 3</td>
    
      </tr>
    
    <tr>
        <td>4</td>
        <td>Nombre 4</td>
        <td>Usuario 4</td>
    
      </tr>
    
    </table>
    
    </div>
    <aside>
    
        <div class="col-xs-6 col-sd-5 col-md-3 col-lg-3 col-xl-4 colorfondocolumna1"><div class="text-right"><small>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus officia sint blanditiis reiciendis officiis delectus magnam aliquam non saepe. Corrupti, atque. Quaerat laudantium ducimus obcaecati quae porro reiciendis minima sed!</small></div></div>
        <div class="col-xs-6 col-sd-5 col-md-3 col-lg-3 col-xl-4 colorfondocolumna2"><div class="text-left"><small> Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus officia sint blanditiis reiciendis officiis delectus magnam aliquam non saepe. Corrupti, atque. Quaerat laudantium ducimus obcaecati quae porro reiciendis minima sed!</small></div></div>
        <div class="col-xs-6 col-sd-5 col-md-3 col-lg-3 col-xl-4 colorfondocolumna3"><div class="text-center"></div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus officia sint blanditiis reiciendis officiis delectus magnam aliquam non saepe. Corrupti, atque.</div>
        <div class="col-xs-6 col-sd-5 col-md-3 col-lg-3 col-xl-4 colorfondocolumna4"><div class="bg-warning"><mark>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus officia sint blanditiis reiciendis officiis delectus magnam aliquam non saepe. Corrupti, atque. Quaerat laudantium ducimus obcaecati quae porro reiciendis minima sed!</mark></div></div>
        </aside>  
    </div>
  <div class="footer"><footer><div class="container">Footer</div></footer></div>  
        
        
 